nav{
    background: #B6B6B6;
    display: flex;
    flex: 3;
    align-items: center;
    position: sticky ;
    top: 0;
}
.nav-left, .nav-center, .nav-right{
    flex: 1;
    justify-content: center;
    display: flex;
   
}
.nav-left{
    font-family: sans-serif;
    span{
        color: rgb(222, 7, 132);
    }
    h2{
        margin-left: -30px;
    }
}
ul{
    display: flex;
    li{
        list-style: none;
        a{
            padding: 15px;
            font-size: 20px;
            text-decoration: none;
            color: black;
            
        }
    }
}
a:hover{
    background:rgb(222, 7, 132) ;
    color: white;
}

